@import "_setting.scss";
$width-img: 298px;
$width-img-mb: 155px;
$height-img-mb: 230px;
$txt-size: 16px;

.product2 {
  margin-bottom: 70px;
  .prd2-img {
    width: $width-img;
    height: $width-img;
    object-fit: contain;
  }
  .prd2-name {
    cursor: pointer;
    display: block;
    margin: calc(#{$width-img}/ 10) 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.94;
    color: $black;
  }
  .prd2-name:hover{
    color: #9e9e9e;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    max-width: $width-img;
    .prd2-price {
      color: $black3-txt;
      font-family: Montserrat;
      font-size: $txt-size;
    }
    .prd2-like {
      color: $black6-txt;
      font-family: Montserrat;
      font-size: $txt-size;
      display: flex;
      align-items: center;
      .heart-svg {
        height: $txt-size;
        margin-right: 7px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .product2 {
    justify-content: space-between;
    margin: unset;
    margin-bottom: 30px;
    .prd2-img {
      display: flex;
      object-fit: cover;
      width: $width-img-mb;
      height: $height-img-mb;
    }
    .prd2-name {
      margin: 10px 0 10px 0;
      max-width: $width-img-mb;
      line-height: 1.5;
      font-size: 15px;
    }
    .inner {
      padding-right: 3px;
      .prd2-price {
        font-size: 14px;
      }
      .prd2-like {
        font-size: 13px;
        .heart-svg {
          height: 13px;
        }
      }
    }
  }
}
