@import "_setting.scss";

.section4 {
  position: relative;
  .st4-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 174px;
    padding-bottom: 250px;
    .margin-prd2 {
      margin-bottom: 70px;
    }
  }
  .btn-more {
    position: absolute;
    left: 50%;
    bottom: 140px;
    transform: translateX(-50%);
    @include btn-see-more;
  }
}
