@import "_setting.scss";

.section7 {
  background-color: $main-color;
  padding-top: 150px;
  .st7-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .st7-title {
      @include TextStyle3;
      color: $black;
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .st7-sub {
      font-family: Montserrat;
      font-size: 19px;
      font-weight: 300;
      line-height: 1.88;
      text-align: center;
      color: $black;
    }
    .st7-more {
      margin-top: 43px;
      @include btn-see-more;
    }
  }
  .st7-body {
    .img-banner {
      top: 75px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
