@import "_setting.scss";

.product-item {
  position: relative;
  width: 523px;
  .count-header {
    cursor: pointer;
    position: relative;
    left: 0;
    transform: translateY(50%);
    width: 98px;
  }
  .product {
    .bestimage01 {
      display: flex;
      width: 523px;
      height: 514px;
      object-fit: contain;
    }
  }
  .product-footer {
    position: relative;
    left: 50%;
    transform: (translateX(-50%));
    display: flex;
    justify-content: space-between;
    width: 369px;
    height: 73px;
    padding: 0 8px 0 27px;
    @include border-box;
    .prd-footer-content {
      display: block;
      margin: 13px 81px 9px 0;
      font-family: Montserrat;
      font-size: 19px;
      font-weight: 800;
      line-height: 1.25;
      color: $black;
    }
  }
}

@media screen and (max-width: 480px) {
  .product-item {
  position: relative;
  width: 290px;
  .count-header {
    position: relative;
    left: 0;
    transform: translateY(50%);
    width: 55px;
  }
  .product {
    .bestimage01 {
      width: 290px;
      height: unset;
      object-fit: contain;
    }
  }
  .product-footer {
    width: unset;
    align-items: center;
    height: 50px;
    padding-left: 8px;
    .go-logo {
      width: 45px;
    }
    .prd-footer-content {
      display: block;
      margin: 13px 20px 9px 0;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 800;
      line-height: 1.25;
      color: $black;
    }
  }
}
}